#!/usr/bin/make -f

RELEASE_ID := $(shell lsb_release -is)
RELEASE_VERSION := $(shell lsb_release -rs)

OQS_BUILDDEPS := ""

ENABLE_OQS := $(shell \
  if [ "$(RELEASE_ID)" = "Debian" ] && dpkg --compare-versions "$(RELEASE_VERSION)" gt 12; then \
    echo yes; \
  elif [ "$(RELEASE_ID)" = "Ubuntu" ] && dpkg --compare-versions "$(RELEASE_VERSION)" gt 24.04; then \
    echo yes; \
  else \
    echo no; \
  fi)

ifeq($(ENABLE_OQS),yes)
	OQS_BUILDDEPS := liboqs-dev
endif

%:
	dh $@ --with autoreconf

override_dh_gencontrol:
	echo "liboqs:Depends=${OQS_BUILDDEPS}" >> debian/substvars
	dh_gencontrol

override_dh_auto_configure:
	ifeq ($(ENABLE_OQS),yes)
		dh_auto_configure -- --sysconfdir=/etc/ --enable-oqs
	else
		dh_auto_configure -- --sysconfdir=/etc/
	fi

override_dh_install:
	dh_install --sourcedir=debian/openli

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/openli prefix=/usr install

override_dh_installinit:
	dh_installinit --no-start

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_fixperms:
	dh_fixperms
	chmod 0640 debian/openli-provisioner/etc/openli/*-example.yaml
